<nav class="sub-tabs" aria-label="PC Pumps navigation">
    <div class="container sub-tabs-inner">
        <div class="tab-label">
            <span class="tab-main-label">PC PUMPS</span>
        </div>
        <a href="/pc-pumps/ka/" class="active"><span class="tab-ticker">KA</span> Standard</a>
        <a href="/pc-pumps/kl/"><span class="tab-ticker">KL</span> Dosing</a>
        <a href="/pc-pumps/ks/"><span class="tab-ticker">KS</span> Wide-Inlet</a>
        <a href="/pc-pumps/kf/"><span class="tab-ticker">KF</span> Sanitary</a>
        <a href="/pc-pumps/ksf/"><span class="tab-ticker">KSF</span> Wide-Sanitary</a>
        <a href="/pc-pumps/kv/"><span class="tab-ticker">KV</span> Vertical</a>
        <a href="/pc-pumps/kvt/"><span class="tab-ticker">KVT</span> Lifter</a>
        <a href="/pc-pumps/kh/"><span class="tab-ticker">KH</span> Hopper</a>
        <a href="/pc-pumps/kk/"><span class="tab-ticker">KK</span> Tank-Integrated</a>
        <a href="/pc-pumps/kc/"><span class="tab-ticker">KC</span> Dewatered Cake</a>

    </div>
</nav>